<div ng-controller="googleMapController">
<ng-map zoom="11" center="[40.74, -74.18]" >
    <marker  position="current"  animation="Animation.BOUNCE" centered="true"></marker>
    <!--position="current" ng-repeat="p in vm.positions" position="{{p}}"-->
</ng-map>

</div>

<br>
<hr>

<div ng-controller="exampleController">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Basic Usage</h1>


            <form class="form">
                <input class="form-control" g-places-autocomplete force-selection="true" ng-change="myFunc()" options="autocompleteOptions" ng-model="place"/>
            </form>
            <h5>Result:</h5>
            <pre>{{place | json}}</pre>
        </div>
    </div>
</div>
</div>

<!--<div ng-controller="googleMapController">-->
    <!--<ng-map zoom="14 center="[40.74, -74.18]" >-->
        <!--<marker position="current" animation="Animation.BOUNCE" centered="true"></marker>-->
    <!--</ng-map>-->
<!--</div>-->





<!--<br><br><br>-->
<!--<hr>-->


<!--<ng-map zoom="11" center="[0,0]">-->
    <!--<shape id="circle" name="circle" centered="true"-->
           <!--stroke-color='#FF0000' stroke-opacity="0.8"stroke-weight="2"-->
           <!--center="current-position" radius="4000" editable="true" ></shape>-->
<!--</ng-map>-->