<div ng-controller="googleMapController">
<ng-map zoom="11" center="[40.74, -74.18]" >
    <marker position="current" animation="Animation.BOUNCE" centered="true"></marker>
</ng-map>
</div>

<br>
<hr>

<!--<input  type="text"-->
        <!--ng-model="query"-->
        <!--ng-places-autocomplete-->
        <!--pa-options="optionsObject"-->
        <!--pa-trigger="triggerFunc"-->
        <!--pa-on-place-ready="callbackFunction"-->
<!--/>-->

<!--<br><br><br>-->
<!--<hr>-->


<!--<div ng-controller="exampleController">-->
    <!--<form>-->
        <!--<input type="text"-->
               <!--ng-places-autocomplete-->
               <!--ng-model="query"-->
               <!--pa-options="paOptions"-->
               <!--pa-on-place-ready="placesCallback"-->
               <!--pa-trigger="paTrigger"-->
        <!--/>-->
        <!--<button ng-click="paTrigger()" type="submit">Send</button>-->
    <!--</form>-->
    <!--<div>-->
        <!--<h1>Details: </h1>-->

        <!--<p>{{paDetails}}</p>-->
    <!--</div>-->
<!--</div>-->


<!--<ng-map zoom="11" center="[0,0]">-->
    <!--<shape id="circle" name="circle" centered="true"-->
           <!--stroke-color='#FF0000' stroke-opacity="0.8"stroke-weight="2"-->
           <!--center="current-position" radius="4000" editable="true" ></shape>-->
<!--</ng-map>-->