<div ng-controller="MapController">
<div id="map"> </div>
<div id="right-panel">
    <h2>Results</h2>
    <ul id="places"></ul>
    <button id="more">More results</button>
</div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCsB8IzN0NzY-6D-E-J2bTNVTv95NDsx6g&libraries=places&callback=initMap"></script>
<script>
    function initMap() {
var ctrl=angular.element('#MapController');
        ctrl.initMap();
        ctrl.scope.$apply();
    }
</script>

<!--<script>-->

    <!--var map;-->
    <!--function  showmap(lat,lng){-->
        <!--var pyrmont = {lat: lat, lng:  lng};-->
        <!--maps = new google.maps.Map(document.getElementById('map'), {-->
            <!--center: pyrmont,-->
            <!--zoom: 17-->
        <!--});-->

        <!--var service = new google.maps.places.PlacesService(maps);-->
        <!--service.nearbySearch({-->
            <!--location: pyrmont,-->
            <!--radius: 3000,-->
            <!--type: ['restaurant']-->
        <!--}, processResults);-->
    <!--}-->

    <!--function processResults (results, status, pagination) {-->
        <!--if (status !== google.maps.places.PlacesServiceStatus.OK) {-->
            <!--return;-->
        <!--} else {-->
            <!--createMarkers(results);-->

            <!--if (pagination.hasNextPage) {-->
                <!--var moreButton = document.getElementById('more');-->

                <!--moreButton.disabled = false;-->
                <!--moreButton.addEventListener('click', function() {-->
                    <!--moreButton.disabled = true;-->
                    <!--pagination.nextPage();-->
                <!--});-->
            <!--}-->
        <!--}-->
    <!--}-->

    <!--function createMarkers (places) {-->
        <!--var bounds = new google.maps.LatLngBounds();-->
        <!--var placesList = document.getElementById('places');-->

        <!--for (var i = 0, place;            place = places[i]; i++) {-->
            <!--var image = {-->
                <!--url: place.icon,-->
                <!--size: new google.maps.Size(71, 71),-->
                <!--origin: new google.maps.Point(0, 0),-->
                <!--anchor: new google.maps.Point(17, 34),-->
                <!--scaledSize: new google.maps.Size(25, 25)-->
            <!--};-->

            <!--var marker = new google.maps.Marker({-->
                <!--map: maps,-->
                <!--icon: image,-->
                <!--title: place.name,-->
                <!--position: place.geometry.location-->
            <!--});-->

            <!--placesList.innerHTML += '<li>' + place.name + '</li>';-->

            <!--bounds.extend(place.geometry.location);-->
        <!--}-->
        <!--maps.fitBounds(bounds);-->
    <!--}-->

    <!--function error() {-->
        <!--// output.innerHTML = "Unable to retrieve your location";-->
        <!--var latitude = 33.2342342;-->
        <!--var longitude = 70.234234;-->
        <!--console.log('random');-->
        <!--// output.innerHTML = '<p>Latitude is ' + latitude + '° <br>Longitude is ' + longitude + '°</p>';-->
        <!--showmap(latitude, longitude);-->

    <!--};-->
    <!--function success(position) {-->
        <!--var latitude  = position.coords.latitude;-->
        <!--var longitude = position.coords.longitude;-->
        <!--//  output.innerHTML = '<p>Latitude is ' + latitude + '° <br>Longitude is ' + longitude + '°</p>';-->
        <!--showmap(latitude, longitude);-->

        <!--console.log('real');-->
    <!--};-->
    <!--function initMap() {-->
        <!--console.log('init map func');-->
        <!--if (navigator.geolocation){-->

            <!--navigator.geolocation.getCurrentPosition(success, error);-->
        <!--}-->

    <!--}-->



<!--</script>-->