<!DOCTYPE html>
<html>
<head>
    <title>
        <%= title %>
    </title>
    <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link rel="stylesheet" href="/css/map.css">
    <link rel="stylesheet" href="/css/signin.css">
</head>
<body>
<% for (var i in messages) { %>
<div class="flash"><%= messages[i] %></div>
<% } %>
<div class="row">
<div class="col m4" style="alignment: center">
    <br>
<div class="card blue-grey darken-1" style="left: 100%;">
<form action="/signin" method="post">
    <br>
    <img src="img/profle-icon.png" style="width: 120px; display: block;
    margin-left: auto;
    margin-right: auto;">

    <h2 style="color: white; text-align: center; font-size: 2.2em;">  Login </h2>

    <br>
    <div>
        <label> Username:  </label>
        <input type="text" class="validate" name="username"/>
    </div>
    <div>
        <label> Password:  </label>
        <input type="password" name="password"/>
    </div>

    <div>
        <br><br><br>
        <input type="submit" class="waves-effect waves-light btn" style="left: 30%;" name="Sign In"/>
        <!--<a class="waves-effect waves-light btn" href="/signin">Signin</a>-->

        <br><br><br>
    </div>
</form>
</div>
</div>
</div>
</body>
</html>